astroid==2.8.4
beautifulsoup4==4.10.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
cryptography==35.0.0
idna==3.3
isort==5.9.3
jedi==0.18.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
ntlm-auth==1.5.0
parso==0.8.2
platformdirs==2.4.0
pycparser==2.20
pylint==2.11.1
requests==2.26.0
requests-ntlm==1.1.0
soupsieve==2.2.1
toml==0.10.2
typing-extensions==3.10.0.2
urllib3==1.26.7
wrapt==1.13.2
